@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    margin: 0px;
}

header{
    background-color: black;
    padding: 50px;
    color: white;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

main{
    font-family: "Sriracha";
}

.normal{
    line-height: 28px;
    padding: 60px 30px 40px 30px;
    height: 450px;
    font-size: 26px;
}

.diferente{
    background-color: rgba(128, 128, 128, 0.147);
    height: 500px;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imagem{
    background-color: rgba(0, 0, 0, 0.566);
    color: white;
    line-height: 28px;
    font-size: 25px;

    
}

.normal2{
    line-height: 27px;
    padding: 51px 30px 80px 30px;
    height: 850px;
    font-size: 26px;
}



.diferente2{
    background-color: gray;
    height: 500px;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imagem2{
    background-color: rgba(0, 0, 0, 0.566);
    color: white;
    line-height: 28px;
    font-size: 25px;

    
}

.normal3{
    line-height: 27px;
    padding: 51px 30px 80px 30px;
    height: 850px;
    font-size: 26px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}